.form {
  margin-top: 102px;
}

.titleWrapper {
  text-align: center;
  margin-bottom: 16px;
}

.title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.button {
  height: 40px;
  width: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
}
