.form {
  margin-top: 102px;
}

.title {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  // margin-top: 50px;
}

.button {
  height: 40px;
  width: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
}
